@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-content: center;
  /* display: inline-block; */
  width: 100%;
  height: 100%
  /* background-color: rgb(4, 0, 255); */
}

/* .home .container {
  background-color: black;

} */

.home p {
  text-align: center;
}
/* .foot {
  height: 6%;
} */

.footer a:hover {
  color: #eab308 ;
}
.footer .spotify {
  width: 100%;
  /* height: auto; */
  /* display: block; */
}





