@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: 'Exo 2', sans-serif;
  letter-spacing: .2rem;
}


.tiger {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-content: center;
  width: 100%;
  height: 100vh;
  /* background-image: url("./assets/stripes.png"); */
  background-image: url("./assets/stage.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.home {
  text-align: center;
  display: inline-block;
  width: 100%;
  height: 100vh;
}

.home .stripe {
  /* appearance: none; */
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.home .container {
  display: inline-block;
  width: 40%;
  height: auto;
  text-shadow: 1px 1px 2px #131110;
  text-align: center;
  min-width: 22rem;
  filter: drop-shadow(8px 8px 10px black)  contrast(90%);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  opacity: 99%;
}



.home p {
  text-align: center;
}


.back{
  background-color: #292524 ;
}

.title {
  color:#a8a29e ;
}
/* .title:hover {
  color:#4ade80; 
  color:#22d3ee ;
} */
.truffle {
  color:#06b6d4; 
  /* color:#a8a29e ; */
  /* color:#4ade80;  */
}
.truffle:hover {
  color:#06b6d4; 
  color:#4ade80; 
  color: #d6d3d1; 
  
  /* color:#f59e0b; */
}

.hoov {
  color:#4ade80;  
  color:#06b6d4; 
}

.hoov:hover {
  color:#a8a29e ;
  color:#f59e0b;
  color:#06b6d4; 
  color: #d6d3d1; 
}


.home button {
  letter-spacing: .2rem;
}

.slider {
  z-index: -1;
}

#side:hover {
  color:#06b6d4; 
}

#side {
  color:#a8a29e ;
}
 #title {
  color:#a8a29e ;
  color: #fda4af ;
  color:#fb7185 ; 
  color: #f87171 ;
  color: #06b6d4;
  color: #ffdab9;
}

.menu-bar {
  background-image: url("./assets/guitar.jpg");
  background-size: cover;
  /* filter: blur(3px); */
  /* box-shadow: -10px 0px 50px black; */
  border-left-style: inset;
  border-left-width: 5px;
  border-left-color:  #78716c  ; 
  ;
}

.hamburger {

}